# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
main.go
dao/test/userStore/.DS_Store
dao/test/userStore/README.md
dao/test/userStore/userStore_cache.go
dao/test/userStore/userStore_helpers.go
dao/test/userStore/userStore_impex.go
dao/test/userStore/userStore_init.go
dao/test/userStore/userStore_internals.go
dao/test/userStore/userStore_model.go
dao/test/userStore/userStore_new.go
dao/test/userStore/userStore.go
data/database/frantic_example-main.db
data/database/frantic_example-user.db
data/dumps/*.json
data/defaults/*.csv
data/logs/*.log
dao/test/templateStore/.DS_Store
.gitignore
.gitignore
.gitignore
dao/test/.DS_Store
dao/.DS_Store